/* MainLayout.css */

.main-layout {
  margin-top: 96px; /* mt-24 */
  display: flex;
  justify-content: center;
  margin-bottom: 32px; /* mb-8 */
}

.layout-container {
  width: 100%;
  background-color: white;
  border-radius: 16px; /* rounded-2xl */
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); /* shadow-md shadow-blue-100 */
  padding: 20px 0; /* py-5 */
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 12px; /* gap-3 */
  padding: 0 2%; /* px-10 */
}

.relative-container {
  position: relative;
}
